
/* 
   Folha de Estilo

    Created on : 13/02/2018, 16:12:53
    Author     : Messias
*/

@import "style.mb.css";

@font-face {
    font-family: font1;
    src: url('font/lekton.otf');
}

@font-face {
    font-family: font2;
    src: url('font/larabiefont.ttf');
}

@font-face {
    font-family: font3;
    src: url('font/EMLATIN.ttf');
}

body {
    margin:0;
    padding: 0;
    width:100%;
    min-width: 240px;
    height: 100%;
   /* AdobeMingStd-Light*/
  /*font-family: "neuropolitical rg"; */
}

h1,h2,h3,h4,h5,h6,h7, img {
    margin-top: 10px;
    font-family: 'font1';
    font-weight: 500;
    color: #FFFFFF;  
}

h1 {font-size: 10px;}
h2 {font-size: 60px;}
h3 {font-size: 42px;}
h4 {font-size: 30px;}

h1:hover ,h2:hover ,h3:hover ,h4:hover ,h5:hover ,h6:hover ,h7:hover {
    letter-spacing: 2px;
    cursor: crosshair;
    color:#FF8080;
}

b {
    font-family: 'font2';
    font-size: 15px;
}

b:hover {
    letter-spacing: 2px;
     font-size: 18px;
    cursor: crosshair;
    color:#FF8080;
    text-transform: uppercase;
}

#div-content{
    /*border: solid 1px red;*/
    margin: 0;
    padding: 0;
   
}



#div-container{
 /*border: solid 1px red;*/   
  width: 100%;
  display: flex;
  padding: 2%;
}


#div-left, #div-right {
    /*border: solid 1px red;*/
    padding: 5%;
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

#div-left {
    background: linear-gradient(to left, #00BFFF, #1E90FF);
}



#div-left img {
    width: 150px;
    height: 150px;
}

#div-left p {
  
    margin-top: 20px;
}

#div-right {
    background: linear-gradient(to left, #4169E1, #1E90FF);
}
#div-right a{
    color: #FFFFFF;
    text-decoration: none;
}


#div-left #image {
    width: 100px;
    height: 100px;
}


#div-foot {
   /*border: solid 1px red;*/
    padding: 20px;
    display: flex;
     align-items: center;
    justify-content: space-around;
}

#div-foot a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#div-foot small {
    color: #808080;
   
}

#div-foot div {
    padding: 10px;
}

#md-logo {
    margin-left: 10px;
    width: 60px;
    height: 40px;
}

#mk-logo {
    width: 160px;
    height: 50px;
}

.myform2, .myform {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   margin-top: 50px;
   padding: 20px;
}



.myform{
    /*border: solid 0.5px #FFFFFF;*/
    border-radius: 5px 5px;
    background: linear-gradient(to right bottom ,rgba(255,255,255,0.1), rgba(0,0,0,0.1));
     /*linear-gradient(to left, #4169E1, #1E90FF);*/
}

.myform2 {
   align-items: center;
   justify-content: center;
}

.mylink {
    font-family: 'font1';
    font-weight: bolder;
    color: #FFFFFF; 
}

.mylink:hover {
    text-decoration: line-through;
   color: #4169E1;
}


.myinput {
    border-color: #4169E1;
    border: 0;
    padding: 10px;
    border-radius: 5px 5px;
    color: #4169E1;
    background: rgba(255,255,255, 0.7);
}
.myinput:focus {
    box-shadow: 1px 1px 1px 1px #4169E1;
   
}

.mybtn {
    /* background-color:  #4169E1;*/
    background: linear-gradient(-90deg, #1E90FF, #4169E1);
    color: #FFFFFF;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 5px 5px;
}

.mybtn2 {
    background-color:  #1E90FF;
    color: #FFFFFF;
    box-shadow: 1px 1px 2px #808080;
}

.mybtn ,.mybtn2 {
    padding: 1%;
    font-weight: 500;
    border: none;
}

.mybtn:hover , .mybtn2:hover {
    cursor: pointer;
    opacity: 0.6;
    background: #FFFFFF;
    color: #4169E1;
    
}

.mybtn3 {
    font-weight: 600;
    font-family: 'font3';
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    display: block;
    align-items: center;
    align-content: center;
    border: solid 0.5px rgba(255,255,255,0.2);
    border-radius: 5px 5px;
    color: #FFFFFF;
    background: transparent;
    text-decoration: none;
    -webkit-transition: background 0.8s linear;
    -moz-transition: background 0.8s linear;
    -ms-transition: background 0.8s linear;
    -o-transition: background 0.8s linear;
    transition: background 0.8s linear;
}

.mybtn3:hover {
   cursor: pointer;
   background: rgba(0,0,0, 0.2);
   letter-spacing: 2px;
   text-decoration: none;
}

.btn-green {
    background: rgba(0,100,0, 0.8);
}

.btn-red {
    background: rgba(255,0,0, 0.8);
}

.btn-orange {
    background: rgba(255,130,0, 0.8);
}




.mybtn,.myinput, img {
     margin-top: 10px;
}

.mytable {
    border: solid 2px #FFFFFF;
   border-radius: 5px 5px;
    margin: 30px;
}
.mytable tr,.mytable td { border: solid 0.5px #FFFFFF;}

.mytable-th,.mytable-tb {
    padding: 7px;
}

.mytable-th{
    font-weight: 500;
    background-color: rgba(400,100,200,0.2);
    text-align: right;
}

.mytable-tb {
    font-weight: 500;
    color: #FFFFFF;
    background-color: rgba(0,0,0,0.2);
    text-align: left;
    
} 

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
    align-content: center;
}

.error {
    color: #FF8080;
}

